In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("../../Bases/Base_sem_vazios.xlsx")
data

,V0001,V0024,UPA_PNS,V0006_PNS,V0022,A02201|A02305|A02306,C00301,C004,C006,C008,...,P00404,P034|P035,P03701|P03702,P050|P052,P053,P05901|P05902|P05903|P05904,Q074,Q092,Q11006,Q11604
0,11,1110011,110000016,2,4,1,4,5,2,19,...,152.0,0,0,1,12.000000,Fuma atualmente,2,2,2,2
1,11,1110011,110000016,5,2,0,1,1,2,28,...,176.0,1,30,4,-1.000000,Nunca fumou,2,2,2,2
2,11,1110011,110000016,8,4,1,2,2,2,38,...,156.0,0,0,2,24.000000,Fuma atualmente,2,2,2,2
3,11,1110011,110000016,12,1,2,1,1,1,36,...,172.0,2,60,4,-1.000000,Nunca fumou,2,2,2,2
4,11,1110011,110000034,4,3,0,1,1,1,42,...,185.0,3,90,3,15.733784,1-5,2,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43011,53,5310220,530041727,12,4,2,1,1,1,41,...,159.0,0,0,4,-1.000000,Nunca fumou,2,2,2,2
43012,53,5310220,530041727,14,3,0,1,1,1,21,...,178.0,0,0,1,12.000000,Fuma atualmente,2,2,2,2
43013,53,5310220,530044434,6,5,2,2,2,1,44,...,162.0,0,0,4,-1.000000,Nunca fumou,2,2,2,2
43014,53,5310220,530044434,8,6,3,1,1,2,26,...,150.0,0,0,4,-1.000000,Nunca fumou,1,2,2,2
43015,53,5310220,530044434,13,1,2,1,1,1,32,...,186.0,1,60,4,-1.000000,Nunca fumou,2,2,2,2

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43016 entries, 0 to 43015
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   V0001                        43016 non-null  int64
 1   V0024                        43016 non-null  int64
 2   UPA_PNS                      43016 non-null  int64
 3   V0006_PNS                    43016 non-null  int64
 4   V0022                        43016 non-null  int64
 5   A02201|A02305|A02306         43016 non-null  int64
 6   C00301                       43016 non-null  int64
 7   C004                         43016 non-null  int64
 8   C006                         43016 non-null  int64
 9   C008                         43016 non-null  int64
 10  C009                         43016 non-null  int64
 11  L01701                       0 non-null      float64
 12  L018                         0 non-null      float64
 13  M01601                       43016 non-null  int64
 14  N010                         43016 non-null  int64
 15  P00104                       43016 non-null  float64
 16  P00404                       43016 non-null  float64
 17  P034|P035                    43016 non-null  int64
 18  P03701|P03702                43016 non-null  int64
 19  P050|P052                    43016 non-null  int64
 20  P053                         43016 non-null  float64
 21  P05901|P05902|P05903|P05904  43016 non-null  object
 22  Q074                         43016 non-null  int64
 23  Q092                         43016 non-null  int64
 24  Q11006                       43016 non-null  int64
 25  Q11604                       43016 non-null  int64
dtypes: float64(5), int64(20), object(1)
memory usage: 8.5+ MB

## Esclusão de colunas

In [4]:
data.drop(columns=['V0024', 'UPA_PNS', 'V0006_PNS', 'C00301', 'C004', 'L01701', 'L018', 'M01601', 'Q11006'], inplace=True)

## Criação e alteração de colunas

### V0001

In [5]:
estado_para_regiao = {
    11: 'reg1',      # Rondônia
    12: 'reg1',      # Acre
    13: 'reg1',      # Amazonas
    14: 'reg1',      # Roraima
    15: 'reg1',      # Pará
    16: 'reg1',      # Amapá
    17: 'reg1',      # Tocantins
    21: 'reg1',   # Maranhão
    22: 'reg1',   # Piauí
    23: 'reg1',   # Ceará
    24: 'reg1',   # Rio Grande do Norte
    25: 'reg1',   # Paraíba
    26: 'reg1',   # Pernambuco
    27: 'reg1',   # Alagoas
    28: 'reg1',   # Sergipe
    29: 'reg1',   # Bahia
    31: 'reg2',    # Minas Gerais
    32: 'reg2',    # Espírito Santo
    33: 'reg2',    # Rio de Janeiro
    35: 'reg2',    # São Paulo
    41: 'reg2',        # Paraná
    42: 'reg2',        # Santa Catarina
    43: 'reg2',        # Rio Grande do Sul
    50: 'reg1', # Mato Grosso do Sul
    51: 'reg1', # Mato Grosso
    52: 'reg1', # Goiás
    53: 'reg1'  # Distrito Federal
}

# Adicionar a coluna 'Região' ao DataFrame
data['V0001'] = data['V0001'].map(estado_para_regiao)

### IMC

In [6]:
data[['P00104', 'P00404']]

       P00104  P00404
0        65.0   152.0
1        55.0   176.0
2        60.0   156.0
3        80.0   172.0
4        95.0   185.0
...       ...     ...
43011    74.0   159.0
43012    64.0   178.0
43013    62.0   162.0
43014    75.0   150.0
43015    62.0   186.0

[43016 rows x 2 columns]

In [7]:
data['IMC'] = data['P00104']/((data['P00404']/100)**2)
data['IMC']

0        28.133657
1        17.755682
2        24.654832
3        27.041644
4        27.757487
           ...
43011    29.270994
43012    20.199470
43013    23.624447
43014    33.333333
43015    17.921147
Name: IMC, Length: 43016, dtype: float64

separacao do IMC em faixas, valores das faixas foram retiradas dos dados da OMS

In [8]:
bins = [0, 24.99, 29.99, 100]
labels = ['Normal', 'Sobrepeso', 'Obeso']

data['IMC'] = pd.cut(data['IMC'], bins=bins, labels=labels, right=False)
data['IMC'].value_counts()

IMC
Normal       18712
Sobrepeso    15883
Obeso         8421
Name: count, dtype: int64

In [9]:
print(data.loc[data['IMC'] == 'Normal', 'Q074'].value_counts())
print(data.loc[data['IMC'] == 'Sobrepeso', 'Q074'].value_counts())
print(data.loc[data['IMC'] == 'Obeso', 'Q074'].value_counts())

Q074
2    17795
1      917
Name: count, dtype: int64
Q074
2    15075
1      808
Name: count, dtype: int64
Q074
2    7936
1     485
Name: count, dtype: int64

### V0022

In [10]:
data['V0022'] = pd.cut(data['V0022'], bins=5, right=False)
data['V0022'].value_counts()

V0022
[1.0, 2.2)      13067
[2.2, 3.4)      12496
[3.4, 4.6)      10578
[4.6, 5.8)       4523
[5.8, 7.006)     2352
Name: count, dtype: int64

### A02201|A02305|A02306

In [11]:
data['A02201|A02305|A02306'] = pd.cut(data['A02201|A02305|A02306'], bins=5, right=False)
data['A02201|A02305|A02306'].value_counts()

A02201|A02305|A02306
[0.0, 1.0)      20151
[1.0, 2.0)      12342
[2.0, 3.0)       6533
[3.0, 4.0)       2962
[4.0, 5.005)     1028
Name: count, dtype: int64

### C008

In [12]:
bins = [0, 24, 33, 100]
labels = ['15-24', '25-33', '34+']

data['C008'] = pd.cut(data['C008'], bins=bins, labels=labels, right=False)
data['C008'].value_counts()

C008
34+      25394
25-33    11112
15-24     6510
Name: count, dtype: int64

### C009

In [13]:
ing = data.loc[data['C009'] == 9].index
data.drop(index=ing, inplace=True)

Modificação para separação de pessoas brancas para as que não são

1 = Branco
2 = N_Branco

In [14]:
data['C009'].value_counts()

C009
4    23045
1    14406
2     4931
5      319
3      308
Name: count, dtype: int64

In [15]:
lista = [3,4,5]
data.loc[data['C009'].isin(lista), 'C009'] = 2

### N010

Juncao dos valores 2 e 3 pelo resultado do teste chi quadrado

In [16]:
data.loc[data['N010'] == 3, 'N010'] = 2

### P00104

In [17]:
data['P00104'] = pd.cut(data['P00104'], bins=5, right=False)
data['P00104'].value_counts()

P00104
[59.2, 88.4)        28216
[30.0, 59.2)         8480
[88.4, 117.6)        5841
[117.6, 146.8)        452
[146.8, 176.146)       20
Name: count, dtype: int64

### P00404

In [18]:
data['P00404'] = pd.cut(data['P00404'], bins=5, right=False)
data['P00404'].value_counts()

P00404
[161.4, 171.6)      17105
[151.2, 161.4)      11701
[171.6, 181.8)       9446
[141.0, 151.2)       2459
[181.8, 192.051)     2298
Name: count, dtype: int64

### P03701|P03702

In [19]:
bins = [0, 1, 30, 60, 90, 120]
labels = ['Não pratica', '<30', '31-60', '61-90', '91-120']

data['P03701|P03702'] = pd.cut(data['P03701|P03702'], bins=bins, labels=labels, right=False)
data['P03701|P03702'].value_counts()

P03701|P03702
Não pratica    26286
61-90           9101
91-120          3690
31-60           3523
<30              409
Name: count, dtype: int64

### P053

faixas de valores definidas pelo artigo P Vineis

In [20]:
data[['P050|P052','P053']]

       P050|P052       P053
0              1  12.000000
1              4  -1.000000
2              2  24.000000
3              4  -1.000000
4              3  15.733784
...          ...        ...
43011          4  -1.000000
43012          1  12.000000
43013          4  -1.000000
43014          4  -1.000000
43015          4  -1.000000

[43009 rows x 2 columns]

In [21]:
data['P053'].value_counts()

P053
-1.000000     30403
 15.000000     1712
 15.733784     1527
 18.000000     1396
 16.000000     1276
 14.000000     1116
 17.000000     1027
 12.000000      862
 20.000000      848
 13.000000      806
 19.000000      459
 10.000000      419
 22.000000      217
 8.000000       176
 11.000000      168
 23.000000      155
 21.000000      143
 9.000000       117
 15.504732      103
 24.000000       79
Name: count, dtype: int64

In [22]:
bins = [-1, 0, 12, 16, 20, 100]
labels = ['Nunca fumou', '<=12', '13-16', '17-20', '21+']

data['P053'] = pd.cut(data['P053'], bins=bins, labels=labels, right=False)
data['P053'].value_counts()

P053
Nunca fumou    30403
13-16           6126
17-20           4158
21+             1442
<=12             880
Name: count, dtype: int64

In [23]:
data[['P050|P052','P053']]

       P050|P052         P053
0              1        13-16
1              4  Nunca fumou
2              2          21+
3              4  Nunca fumou
4              3        13-16
...          ...          ...
43011          4  Nunca fumou
43012          1        13-16
43013          4  Nunca fumou
43014          4  Nunca fumou
43015          4  Nunca fumou

[43009 rows x 2 columns]

## Exclusão de colunas

idx_Q11006 = data.loc[data['Q11006'] == 1, 'Q11006'].index
data.drop(index=idx_Q11006, inplace=True)

data.drop(columns=['V0024', 'UPA_PNS', 'V0006_PNS', 'C00301', 'C004', 'L01701', 'L018', 'M01601', 'Q11006'], inplace=True)

## Salvando

In [24]:
data

,V0001,V0022,A02201|A02305|A02306,C006,C008,C009,N010,P00104,P00404,P034|P035,P03701|P03702,P050|P052,P053,P05901|P05902|P05903|P05904,Q074,Q092,Q11604,IMC
0,reg1,"[3.4, 4.6)","[1.0, 2.0)",2,15-24,2,1,"[59.2, 88.4)","[151.2, 161.4)",0,Não pratica,1,13-16,Fuma atualmente,2,2,2,Sobrepeso
1,reg1,"[1.0, 2.2)","[0.0, 1.0)",2,25-33,2,1,"[30.0, 59.2)","[171.6, 181.8)",1,31-60,4,Nunca fumou,Nunca fumou,2,2,2,Normal
2,reg1,"[3.4, 4.6)","[1.0, 2.0)",2,34+,1,1,"[59.2, 88.4)","[151.2, 161.4)",0,Não pratica,2,21+,Fuma atualmente,2,2,2,Normal
3,reg1,"[1.0, 2.2)","[2.0, 3.0)",1,34+,1,1,"[59.2, 88.4)","[171.6, 181.8)",2,61-90,4,Nunca fumou,Nunca fumou,2,2,2,Sobrepeso
4,reg1,"[2.2, 3.4)","[0.0, 1.0)",1,34+,1,1,"[88.4, 117.6)","[181.8, 192.051)",3,91-120,3,13-16,1-5,2,1,2,Sobrepeso
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43011,reg1,"[3.4, 4.6)","[2.0, 3.0)",1,34+,2,1,"[59.2, 88.4)","[151.2, 161.4)",0,Não pratica,4,Nunca fumou,Nunca fumou,2,2,2,Sobrepeso
43012,reg1,"[2.2, 3.4)","[0.0, 1.0)",1,15-24,2,1,"[59.2, 88.4)","[171.6, 181.8)",0,Não pratica,1,13-16,Fuma atualmente,2,2,2,Normal
43013,reg1,"[4.6, 5.8)","[2.0, 3.0)",1,34+,2,2,"[59.2, 88.4)","[161.4, 171.6)",0,Não pratica,4,Nunca fumou,Nunca fumou,2,2,2,Normal
43014,reg1,"[5.8, 7.006)","[3.0, 4.0)",2,25-33,2,1,"[59.2, 88.4)","[141.0, 151.2)",0,Não pratica,4,Nunca fumou,Nunca fumou,1,2,2,Obeso
43015,reg1,"[1.0, 2.2)","[2.0, 3.0)",1,25-33,1,1,"[59.2, 88.4)","[181.8, 192.051)",1,61-90,4,Nunca fumou,Nunca fumou,2,2,2,Normal

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43009 entries, 0 to 43015
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   V0001                        43009 non-null  object
 1   V0022                        43009 non-null  category
 2   A02201|A02305|A02306         43009 non-null  category
 3   C006                         43009 non-null  int64
 4   C008                         43009 non-null  category
 5   C009                         43009 non-null  int64
 6   N010                         43009 non-null  int64
 7   P00104                       43009 non-null  category
 8   P00404                       43009 non-null  category
 9   P034|P035                    43009 non-null  int64
 10  P03701|P03702                43009 non-null  category
 11  P050|P052                    43009 non-null  int64
 12  P053                         43009 non-null  category
 13  P05901|P05902|P05903|P05904  43009 non-null  object
 14  Q074                         43009 non-null  int64
 15  Q092                         43009 non-null  int64
 16  Q11604                       43009 non-null  int64
 17  IMC                          43009 non-null  category
dtypes: category(8), int64(8), object(2)
memory usage: 3.9+ MB

## Retirando valores duplicados

In [26]:
data.drop_duplicates(inplace=True)

In [27]:
data.to_excel("../../Bases/Base_tratada.xlsx", index=False)