In [24]:
import pandas as pd
import seaborn as sns
from docx import Document

In [2]:
# data = pd.read_excel("../Base_filtrada.xlsx")
# data = pd.read_excel("../Bases/Base_filtrada_idade.xlsx")
# data = pd.read_excel("../Bases/Base_plano_Cartesiano.xlsx")
data = pd.read_excel("../Bases/Base_tratada.xlsx")

### Separação por natureza dos dados

filtrada

In [3]:
# colunas_categoricas = ['V0001', 'A02201', 'C004', 'C006', 'C009', 'L01701', 'L018', 'M01601', 'N010','P034',
#                        'P050', 'P052', 'Q092', 'Q11006', 'Q11604', 'Q074']

In [4]:
# colunas_numericas = ['V0022', 'A02305', 'A02306', 'C008', 'P00104', 'P00404', 'P035', 'P03701', 'P03702', 
#                      'P053', 'P05901', 'P05902', 'P05903', 'P05904']

plano cartesiano

In [5]:
# colunas_categoricas = ['V0001', 'C004', 'C006', 'C009', 'L01701', 'L018', 'M01601', 'N010','P034|P035', 'P03701|P03702',
#                        'P050|P052', 'P05901|P05902|P05903|P05904', 'Q092', 'Q11006', 'Q11604', 'Q074']

In [6]:
# colunas_numericas = ['V0022', 'A02201|A02305|A02306', 'C008', 'P00104', 'P00404', 'P053']

tratada

In [7]:
colunas_categoricas = ['V0001', 'C004', 'C006', 'C009', 'M01601', 'N010','P034|P035', 'P03701|P03702','IMC',
                       'P050|P052', 'P053', 'P05901|P05902|P05903|P05904', 'Q092', 'Q11006', 'Q11604', 'Q074']

In [8]:
colunas_numericas = ['V0022', 'A02201|A02305|A02306', 'C008', 'P00104', 'P00404']

garantir que as colunas numericas sao numericas

In [9]:
for coluna in colunas_numericas:
    data[coluna] = pd.to_numeric(data[coluna], errors='coerce')

## Correlação

## Numero de faltantes

In [10]:
for col in data.columns:
    nulos = data[col].isnull().sum()
    print(f'numero de valores nulos na coluna {col} é: {nulos}')

numero de valores nulos na coluna V0001 é: 0
numero de valores nulos na coluna V0024 é: 0
numero de valores nulos na coluna UPA_PNS é: 0
numero de valores nulos na coluna V0006_PNS é: 0
numero de valores nulos na coluna V0022 é: 0
numero de valores nulos na coluna A02201|A02305|A02306 é: 0
numero de valores nulos na coluna C00301 é: 0
numero de valores nulos na coluna C004 é: 0
numero de valores nulos na coluna C006 é: 0
numero de valores nulos na coluna C008 é: 0
numero de valores nulos na coluna C009 é: 0
numero de valores nulos na coluna M01601 é: 0
numero de valores nulos na coluna N010 é: 0
numero de valores nulos na coluna P00104 é: 0
numero de valores nulos na coluna P00404 é: 0
numero de valores nulos na coluna P034|P035 é: 0
numero de valores nulos na coluna P03701|P03702 é: 0
numero de valores nulos na coluna P050|P052 é: 0
numero de valores nulos na coluna P053 é: 0
numero de valores nulos na coluna P05901|P05902|P05903|P05904 é: 0
numero de valores nulos na coluna Q074 é: 0
numero de valores nulos na coluna Q092 é: 0
numero de valores nulos na coluna Q11006 é: 0
numero de valores nulos na coluna Q11604 é: 0
numero de valores nulos na coluna IMC é: 0

In [21]:
for col in data.columns:
    nulos = data[col].isna().sum()
    print(f'numero de valores nulos na coluna {col} é: {nulos}')

numero de valores nulos na coluna V0001 é: 0
numero de valores nulos na coluna V0024 é: 0
numero de valores nulos na coluna UPA_PNS é: 0
numero de valores nulos na coluna V0006_PNS é: 0
numero de valores nulos na coluna V0022 é: 0
numero de valores nulos na coluna A02201|A02305|A02306 é: 0
numero de valores nulos na coluna C00301 é: 0
numero de valores nulos na coluna C004 é: 0
numero de valores nulos na coluna C006 é: 0
numero de valores nulos na coluna C008 é: 0
numero de valores nulos na coluna C009 é: 0
numero de valores nulos na coluna M01601 é: 0
numero de valores nulos na coluna N010 é: 0
numero de valores nulos na coluna P00104 é: 0
numero de valores nulos na coluna P00404 é: 0
numero de valores nulos na coluna P034|P035 é: 0
numero de valores nulos na coluna P03701|P03702 é: 0
numero de valores nulos na coluna P050|P052 é: 0
numero de valores nulos na coluna P053 é: 0
numero de valores nulos na coluna P05901|P05902|P05903|P05904 é: 0
numero de valores nulos na coluna Q074 é: 0
numero de valores nulos na coluna Q092 é: 0
numero de valores nulos na coluna Q11006 é: 0
numero de valores nulos na coluna Q11604 é: 0
numero de valores nulos na coluna IMC é: 0

## Tabela numerica

In [11]:
estatisticas_numericas = {
    'Coluna': colunas_numericas,
    'Mínimo': [round(data[col].min(), 2) for col in colunas_numericas],
    'Máximo': [round(data[col].max(), 2) for col in colunas_numericas],
    'Média': [round(data[col].mean(), 2) for col in colunas_numericas],
    'Desvio Padrão': [round(data[col].std(), 2) for col in colunas_numericas],
    'Dados Faltantes': [data[col].isnull().sum() for col in colunas_numericas],
    '% Faltantes': [round((data[col].isnull().sum() / len(data)) * 100, 2) for col in colunas_numericas]
}
df_estatisticas_numericas = pd.DataFrame(estatisticas_numericas)

In [12]:
df_estatisticas_numericas = pd.DataFrame(estatisticas_numericas)

## Tabela Categorica

In [13]:
estatisticas_categoricas_detalhadas = {
    'Coluna': [],
    'Categoria': [],
    'Contagem': [],
    '% da Coluna': []
}

for coluna in colunas_categoricas:
    # Extrair categorias e contagens (incluindo NaN)
    contagem = data[coluna].value_counts(dropna=False).reset_index()
    contagem.columns = ['Categoria', 'Contagem']
    
    # Converter categorias para numérico (se possível) e ordenar
    try:
        contagem['Categoria_Num'] = pd.to_numeric(contagem['Categoria'], errors='coerce')
        contagem = contagem.sort_values(by='Categoria_Num').drop('Categoria_Num', axis=1)
    except:
        contagem = contagem.sort_values(by='Categoria')  # Caso não sejam números
    
    # Adicionar dados faltantes no final
    faltantes = data[coluna].isnull().sum()
    total_linhas = len(data)
    
    for _, row in contagem.iterrows():
        categoria = str(row['Categoria'])
        estatisticas_categoricas_detalhadas['Coluna'].append(coluna)
        estatisticas_categoricas_detalhadas['Categoria'].append(categoria)
        estatisticas_categoricas_detalhadas['Contagem'].append(row['Contagem'])
        estatisticas_categoricas_detalhadas['% da Coluna'].append(round((row['Contagem'] / total_linhas) * 100, 2))

# Criar DataFrame
df_categoricas_ordenado = pd.DataFrame(estatisticas_categoricas_detalhadas)

## Analise

In [14]:
print("Análise Descritiva do Conjunto de Dados Numéricos")
print(df_estatisticas_numericas)

print("Análise Descritiva do Conjunto de Dados Categóricos")

Análise Descritiva do Conjunto de Dados Numéricos
                 Coluna  Mínimo  Máximo   Média  Desvio Padrão  \
0                 V0022     1.0     7.0    3.24           1.35
1  A02201|A02305|A02306     0.0     5.0    0.90           1.07
2                  C008    15.0    50.0   34.58           9.38
3                P00104    30.0   176.0   72.55          15.49
4                P00404   141.0   192.0  165.93           9.31

   Dados Faltantes  % Faltantes
0                0          0.0
1                0          0.0
2                0          0.0
3                0          0.0
4                0          0.0
Análise Descritiva do Conjunto de Dados Categóricos

## Salvando em arquivo

In [15]:
doc = Document()
doc.add_heading('Análise Descritiva do Conjunto de Dados', 0)

In [16]:
doc.add_heading('Estatísticas Numéricas', level=1)
tabela_numericas = doc.add_table(rows=1, cols=len(df_estatisticas_numericas.columns))

In [17]:
hdr_cells = tabela_numericas.rows[0].cells

for i, col in enumerate(df_estatisticas_numericas.columns):
    hdr_cells[i].text = str(col)

In [18]:
for index, row in df_estatisticas_numericas.iterrows():
    row_cells = tabela_numericas.add_row().cells
    for i, value in enumerate(row):
        row_cells[i].text = str(value)

In [19]:
doc.add_heading('Análise Categórica', level=1)

for coluna in colunas_categoricas:
    doc.add_heading(f'Coluna: {coluna}', level=2)
    dados_coluna = df_categoricas_ordenado[df_categoricas_ordenado['Coluna'] == coluna]
    
    tabela = doc.add_table(rows=1, cols=3)
    hdr_cells = tabela.rows[0].cells
    hdr_cells[0].text = 'Categoria'
    hdr_cells[1].text = 'Contagem'
    hdr_cells[2].text = '% da Coluna'
    
    for _, row in dados_coluna.iterrows():
        row_cells = tabela.add_row().cells
        row_cells[0].text = str(row['Categoria'])
        row_cells[1].text = str(row['Contagem'])
        row_cells[2].text = f"{row['% da Coluna']}%"

In [20]:
# doc.save('../Relatorios/tabela_estatisticas.docx')
# doc.save('../Relatorios/tabela_estatisticas_filtrada.docx')
# doc.save('../Relatorios/tabela_estatisticas_plano_cartesiano.docx')
doc.save('../Relatorios/tabela_base_tratada.docx')