In [54]:
import pandas as pd
import numpy as np

In [55]:
data = pd.read_excel("../Bases/Base_filtrada_idade.xlsx")

In [56]:
data

,V0001,V0024,UPA_PNS,V0006_PNS,V0022,A02201,A02305,A02306,C00301,C004,...,P052,P053,P05901,P05902,P05903,P05904,Q074,Q092,Q11006,Q11604
0,11,1110011,110000016,2,4,1,1.0,0.0,4,5,...,NaN,12.0,NaN,NaN,NaN,NaN,2,2,2,2
1,11,1110011,110000016,3,8,1,1.0,1.0,1,1,...,1.0,18.0,25.0,0.0,0.0,0.0,2,2,2,2
2,11,1110011,110000016,5,2,2,NaN,NaN,1,1,...,3.0,NaN,NaN,NaN,NaN,NaN,2,2,2,2
3,11,1110011,110000016,7,3,1,0.0,8.0,1,1,...,3.0,NaN,NaN,NaN,NaN,NaN,2,2,2,2
4,11,1110011,110000016,8,4,1,0.0,1.0,2,2,...,NaN,24.0,NaN,NaN,NaN,NaN,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54012,53,5310220,530044434,6,5,1,0.0,2.0,2,2,...,3.0,NaN,NaN,NaN,NaN,NaN,2,2,2,2
54013,53,5310220,530044434,8,6,1,1.0,2.0,1,1,...,3.0,NaN,NaN,NaN,NaN,NaN,1,2,2,2
54014,53,5310220,530044434,10,2,1,1.0,2.0,2,14,...,NaN,39.0,NaN,NaN,NaN,NaN,2,2,2,2
54015,53,5310220,530044434,11,4,1,2.0,4.0,1,1,...,1.0,15.0,10.0,0.0,0.0,0.0,2,2,2,2
54016,53,5310220,530044434,13,1,1,0.0,2.0,1,1,...,3.0,NaN,NaN,NaN,NaN,NaN,2,2,2,2

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54017 entries, 0 to 54016
Data columns (total 33 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   V0001      54017 non-null  int64
 1   V0024      54017 non-null  int64
 2   UPA_PNS    54017 non-null  int64
 3   V0006_PNS  54017 non-null  int64
 4   V0022      54017 non-null  int64
 5   A02201     54017 non-null  int64
 6   A02305     32613 non-null  float64
 7   A02306     32613 non-null  float64
 8   C00301     54017 non-null  int64
 9   C004       54017 non-null  int64
 10  C006       54017 non-null  int64
 11  C008       54017 non-null  int64
 12  C009       54017 non-null  int64
 13  L01701     0 non-null      float64
 14  L018       0 non-null      float64
 15  M01601     54017 non-null  int64
 16  N010       54017 non-null  int64
 17  P00104     53135 non-null  float64
 18  P034       54017 non-null  int64
 19  P035       24777 non-null  float64
 20  P03701     23870 non-null  float64
 21  P03702     23870 non-null  float64
 22  P050       54017 non-null  int64
 23  P052       47625 non-null  float64
 24  P053       14704 non-null  float64
 25  P05901     10392 non-null  float64
 26  P05902     10392 non-null  float64
 27  P05903     10392 non-null  float64
 28  P05904     10392 non-null  float64
 29  Q074       54017 non-null  int64
 30  Q092       54017 non-null  int64
 31  Q11006     54017 non-null  int64
 32  Q11604     54017 non-null  int64
dtypes: float64(14), int64(19)
memory usage: 13.6 MB

# Agrupamento de dados por plano cartesiano

### A02201 e A023

Neste processo criaremos uma coluna que equivale a quantidade de gatos e/ou cachorros que existem no domicilio

In [58]:
data['A02201'].value_counts()

A02201
1    32613
2    21404
Name: count, dtype: int64

In [59]:
data['A02305'].fillna(0, inplace=True)
data['A02306'].fillna(0, inplace=True)

In [60]:
data[['A02201', 'A02305', 'A02306']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54017 entries, 0 to 54016
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A02201  54017 non-null  int64
 1   A02305  54017 non-null  float64
 2   A02306  54017 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 1.2 MB

In [61]:
tmp = data['A02305']+data['A02306']

In [62]:
tmp

0        1.0
1        2.0
2        0.0
3        8.0
4        1.0
        ...
54012    2.0
54013    3.0
54014    3.0
54015    6.0
54016    2.0
Length: 54017, dtype: float64

In [63]:
data.rename(columns={'A02201': 'A02201|A02305|A02306'}, inplace=True)

In [64]:
data['A02201|A02305|A02306'] = tmp

In [65]:
data.drop(columns=['A02305', 'A02306'], inplace=True)

### P034 e P035

Quantas vezes o individuo pratica exercicio fisico

In [66]:
data['P034'].value_counts()

P034
2    29240
1    24777
Name: count, dtype: int64

In [67]:
data[['P034', 'P035']]

       P034  P035
0         2   NaN
1         2   NaN
2         1   1.0
3         1   7.0
4         2   NaN
...     ...   ...
54012     2   NaN
54013     2   NaN
54014     2   NaN
54015     1   1.0
54016     1   1.0

[54017 rows x 2 columns]

In [68]:
data['P035'].fillna(0, inplace=True)

In [69]:
data.rename(columns={'P035':'P034|P035'}, inplace=True)

In [70]:
data['P034|P035'].value_counts()

P034|P035
0.0    30147
3.0     5478
2.0     4610
1.0     4501
5.0     4236
7.0     2024
4.0     1956
6.0     1065
Name: count, dtype: int64

In [71]:
data.drop(columns=['P034'], inplace=True)

In [72]:
data

,V0001,V0024,UPA_PNS,V0006_PNS,V0022,A02201|A02305|A02306,C00301,C004,C006,C008,...,P052,P053,P05901,P05902,P05903,P05904,Q074,Q092,Q11006,Q11604
0,11,1110011,110000016,2,4,1.0,4,5,2,19,...,NaN,12.0,NaN,NaN,NaN,NaN,2,2,2,2
1,11,1110011,110000016,3,8,2.0,1,1,2,45,...,1.0,18.0,25.0,0.0,0.0,0.0,2,2,2,2
2,11,1110011,110000016,5,2,0.0,1,1,2,28,...,3.0,NaN,NaN,NaN,NaN,NaN,2,2,2,2
3,11,1110011,110000016,7,3,8.0,1,1,2,41,...,3.0,NaN,NaN,NaN,NaN,NaN,2,2,2,2
4,11,1110011,110000016,8,4,1.0,2,2,2,38,...,NaN,24.0,NaN,NaN,NaN,NaN,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54012,53,5310220,530044434,6,5,2.0,2,2,1,44,...,3.0,NaN,NaN,NaN,NaN,NaN,2,2,2,2
54013,53,5310220,530044434,8,6,3.0,1,1,2,26,...,3.0,NaN,NaN,NaN,NaN,NaN,1,2,2,2
54014,53,5310220,530044434,10,2,3.0,2,14,1,44,...,NaN,39.0,NaN,NaN,NaN,NaN,2,2,2,2
54015,53,5310220,530044434,11,4,6.0,1,1,2,32,...,1.0,15.0,10.0,0.0,0.0,0.0,2,2,2,2
54016,53,5310220,530044434,13,1,2.0,1,1,1,32,...,3.0,NaN,NaN,NaN,NaN,NaN,2,2,2,2

### P03701 e P03702

In [73]:
data[['P03701', 'P03702']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54017 entries, 0 to 54016
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   P03701  23870 non-null  float64
 1   P03702  23870 non-null  float64
dtypes: float64(2)
memory usage: 844.1 KB

In [74]:
data[['P03701', 'P03702']]

       P03701  P03702
0         NaN     NaN
1         NaN     NaN
2         0.0    30.0
3         2.0     0.0
4         NaN     NaN
...       ...     ...
54012     NaN     NaN
54013     NaN     NaN
54014     NaN     NaN
54015     2.0     0.0
54016     1.0     0.0

[54017 rows x 2 columns]

In [75]:
tmp = data['P03701'] * 60

In [76]:
data['P03701'] = tmp + data['P03702']

In [77]:
data.drop(columns=['P03702'], inplace=True)

In [78]:
data.rename(columns={'P03701': 'P03701|P03702'}, inplace=True)

In [79]:
data['P03701|P03702']

0          NaN
1          NaN
2         30.0
3        120.0
4          NaN
         ...
54012      NaN
54013      NaN
54014      NaN
54015    120.0
54016     60.0
Name: P03701|P03702, Length: 54017, dtype: float64

### P050 e P052

In [80]:
data[['P050', 'P052']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54017 entries, 0 to 54016
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   P050    54017 non-null  int64
 1   P052    47625 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 844.1 KB

In [81]:
data[['P050', 'P052']]

       P050  P052
0         1   NaN
1         3   1.0
2         3   3.0
3         3   3.0
4         2   NaN
...     ...   ...
54012     3   3.0
54013     3   3.0
54014     1   NaN
54015     3   1.0
54016     3   3.0

[54017 rows x 2 columns]

In [82]:
data.loc[(data['P050'] == 3) & (data['P052'] == 3), 'P050'] = 4

In [83]:
data[['P050', 'P052']]

       P050  P052
0         1   NaN
1         3   1.0
2         4   3.0
3         4   3.0
4         2   NaN
...     ...   ...
54012     4   3.0
54013     4   3.0
54014     1   NaN
54015     3   1.0
54016     4   3.0

[54017 rows x 2 columns]

In [84]:
data['P050'].value_counts()

P050
4    37233
3    10392
1     5493
2      899
Name: count, dtype: int64

In [85]:
data.drop(columns=['P052'], inplace=True)

In [86]:
data.rename(columns={'P050': 'P050|P052'}, inplace=True)

In [87]:
data['P050|P052'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 54017 entries, 0 to 54016
Series name: P050|P052
Non-Null Count  Dtype
--------------  -----
54017 non-null  int64
dtypes: int64(1)
memory usage: 422.1 KB

Nesta nova formatacao temos que

1 = pessoa que fuma diariamente

2 = pessoa que fuma mas nao diariamente

3 = pessoa que ja fumou mas nao fuma mais

4 = pessoa que nunca fumou

### P059

In [88]:
data[['P050|P052','P05901', 'P05902', 'P05903', 'P05904']]

       P050|P052  P05901  P05902  P05903  P05904
0              1     NaN     NaN     NaN     NaN
1              3    25.0     0.0     0.0     0.0
2              4     NaN     NaN     NaN     NaN
3              4     NaN     NaN     NaN     NaN
4              2     NaN     NaN     NaN     NaN
...          ...     ...     ...     ...     ...
54012          4     NaN     NaN     NaN     NaN
54013          4     NaN     NaN     NaN     NaN
54014          1     NaN     NaN     NaN     NaN
54015          3    10.0     0.0     0.0     0.0
54016          4     NaN     NaN     NaN     NaN

[54017 rows x 5 columns]

In [89]:
data[['P05901', 'P05902', 'P05903', 'P05904']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54017 entries, 0 to 54016
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   P05901  10392 non-null  float64
 1   P05902  10392 non-null  float64
 2   P05903  10392 non-null  float64
 3   P05904  10392 non-null  float64
dtypes: float64(4)
memory usage: 1.6 MB

In [90]:
data['P05904'] = data['P05904'] / 365
data['P05903'] = data['P05903'] / 52
data['P05902'] = data['P05902'] / 12

In [91]:
data['P05901'] += data['P05902'] + data['P05903'] + data['P05904']

In [92]:
data['P05901'].max()

47.0

In [93]:
bins = [0, 0.99, 5, 10, 20, 47]
labels = ['Menos de 1 ano', '1-5', '6-10', '11-20', '21+']

data['P05901'] = pd.cut(data['P05901'], bins=bins, labels=labels, right=False)

In [94]:
data.drop(columns=['P05902', 'P05903', 'P05904'], inplace=True)

In [95]:
temp = data.loc[data['P050|P052'] == 1].copy() 

if pd.api.types.is_categorical_dtype(temp['P05901']):
    temp['P05901'] = temp['P05901'].cat.add_categories(['Fuma atualmente'])
    data['P05901'] = data['P05901'].cat.add_categories(['Fuma atualmente'])

data.loc[data['P050|P052'] == 1, 'P05901'] = temp['P05901'].fillna('Fuma atualmente')

/tmp/ipykernel_6447/2719581350.py:3: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  if pd.api.types.is_categorical_dtype(temp['P05901']):

In [96]:
temp = data.loc[data['P050|P052'] == 2].copy() 

data.loc[data['P050|P052'] == 2, 'P05901'] = temp['P05901'].fillna('Fuma atualmente')

In [97]:
temp = data.loc[data['P050|P052'] == 4].copy() 

if pd.api.types.is_categorical_dtype(temp['P05901']):
    temp['P05901'] = temp['P05901'].cat.add_categories(['Nunca fumou'])
    data['P05901'] = data['P05901'].cat.add_categories(['Nunca fumou'])

data.loc[data['P050|P052'] == 4, 'P05901'] = temp['P05901'].fillna('Nunca fumou')

/tmp/ipykernel_6447/2331127495.py:3: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  if pd.api.types.is_categorical_dtype(temp['P05901']):

In [98]:
data[['P050|P052','P05901']]

       P050|P052           P05901
0              1  Fuma atualmente
1              3              21+
2              4      Nunca fumou
3              4      Nunca fumou
4              2  Fuma atualmente
...          ...              ...
54012          4      Nunca fumou
54013          4      Nunca fumou
54014          1  Fuma atualmente
54015          3            11-20
54016          4      Nunca fumou

[54017 rows x 2 columns]

#### Salvando a base

In [99]:
data

,V0001,V0024,UPA_PNS,V0006_PNS,V0022,A02201|A02305|A02306,C00301,C004,C006,C008,...,P00104,P034|P035,P03701|P03702,P050|P052,P053,P05901,Q074,Q092,Q11006,Q11604
0,11,1110011,110000016,2,4,1.0,4,5,2,19,...,65.0,0.0,NaN,1,12.0,Fuma atualmente,2,2,2,2
1,11,1110011,110000016,3,8,2.0,1,1,2,45,...,77.0,0.0,NaN,3,18.0,21+,2,2,2,2
2,11,1110011,110000016,5,2,0.0,1,1,2,28,...,55.0,1.0,30.0,4,NaN,Nunca fumou,2,2,2,2
3,11,1110011,110000016,7,3,8.0,1,1,2,41,...,75.0,7.0,120.0,4,NaN,Nunca fumou,2,2,2,2
4,11,1110011,110000016,8,4,1.0,2,2,2,38,...,60.0,0.0,NaN,2,24.0,Fuma atualmente,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54012,53,5310220,530044434,6,5,2.0,2,2,1,44,...,62.0,0.0,NaN,4,NaN,Nunca fumou,2,2,2,2
54013,53,5310220,530044434,8,6,3.0,1,1,2,26,...,75.0,0.0,NaN,4,NaN,Nunca fumou,1,2,2,2
54014,53,5310220,530044434,10,2,3.0,2,14,1,44,...,72.0,0.0,NaN,1,39.0,Fuma atualmente,2,2,2,2
54015,53,5310220,530044434,11,4,6.0,1,1,2,32,...,87.0,1.0,120.0,3,15.0,11-20,2,2,2,2
54016,53,5310220,530044434,13,1,2.0,1,1,1,32,...,62.0,1.0,60.0,4,NaN,Nunca fumou,2,2,2,2

In [100]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54017 entries, 0 to 54016
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   V0001                 54017 non-null  int64
 1   V0024                 54017 non-null  int64
 2   UPA_PNS               54017 non-null  int64
 3   V0006_PNS             54017 non-null  int64
 4   V0022                 54017 non-null  int64
 5   A02201|A02305|A02306  54017 non-null  float64
 6   C00301                54017 non-null  int64
 7   C004                  54017 non-null  int64
 8   C006                  54017 non-null  int64
 9   C008                  54017 non-null  int64
 10  C009                  54017 non-null  int64
 11  L01701                0 non-null      float64
 12  L018                  0 non-null      float64
 13  M01601                54017 non-null  int64
 14  N010                  54017 non-null  int64
 15  P00104                53135 non-null  float64
 16  P034|P035             54017 non-null  float64
 17  P03701|P03702         23870 non-null  float64
 18  P050|P052             54017 non-null  int64
 19  P053                  14704 non-null  float64
 20  P05901                54016 non-null  category
 21  Q074                  54017 non-null  int64
 22  Q092                  54017 non-null  int64
 23  Q11006                54017 non-null  int64
 24  Q11604                54017 non-null  int64
dtypes: category(1), float64(7), int64(17)
memory usage: 9.9 MB